.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.options {
  margin-bottom: 20px;
}
.DraftEditor-root {
  width: 100%;
  figure {
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}

.editor-cursor{
  cursor: pointer;
}

.editor-container {
  .editor-lbl-created-at{
    font-size: 13px;
    font-family: ui-serif;
    color: gray;
    display: flex;
    justify-content: center;
  }
  .editor-wrap-draftjs{
    padding: 0px 20px;
  }

  .editor-toolbar-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;

    .btn-logout{

    }
  }
}