.login {

  display: flex;
  width: 100%;

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .input-user-name {
    margin: 20px 0px;
  }
  .input-password{
    margin-bottom: 20px;
  }
}